.articles{
    padding: 4rem 6rem;
    
}

.articles__title{
    color: var(--azul-escuro);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 4rem;
}
.article__container{
    display: flex;
    justify-content: space-between;
}
.article{
    width: 22.5%;
   
}

.article img{
    margin-top: 2rem;
    width: 100%;
    height: 50%;
}

.article span{
    display: block;
    font-size: .8rem;
    margin-top: .7rem;
}

.article h3{
    color: var(--azul-escuro);
    margin-top: 1rem;
}

.article p{
    color: var(--azul-acinzentado);
    font-weight: 300;
    line-height: 2rem;

}

@media screen and (max-width: 600px) {
    .articles{
        padding: 0;
        background-color: var(--azul-acinzentado-claro);
    }

    .articles__title{
        padding: 2rem 0;
        text-align: center;
    }
    .article__container{
        flex-direction: column;
        justify-content: center;
    }
    .article{
        width: 100%;
    }

    .article img{
        width: 90%;
        border-radius: 15px 15px 0 0;
        text-align: center;
        margin:0 5%;
    }

    .article span, h3,p{
        padding: 0 1.5rem;
        font-size: 1.3rem;
    }
   
}
