.cards{
    background: var(--cinza-muito-claro);
    padding: 2rem 6rem;
}
.cards__title{
    color: var(--azul-escuro);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 4rem;
}
.cards__descripition{
    color: var(--azul-acinzentado);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 2rem;

}
.card{
    display: flex;
    margin-top: 5rem;
    padding-bottom: 2rem;
    
}
.card__container{
    width: 25%;
    padding: 0 1rem;
    
}
.card__title{
    color: var(--azul-escuro);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 3.5rem;
}

.card__text{
    color: var(--azul-acinzentado);
    line-height: 2rem;
    font-weight: 500;
}
.card-1{
    background-image: url(/easybank-landing-page-master/assets/images/icon-online.svg);
    background-repeat: no-repeat;
}
.card-2{
    background-image: url(/easybank-landing-page-master/assets/images/icon-budgeting.svg);
    background-repeat: no-repeat;
}
.card-3{
    background-image: url(/easybank-landing-page-master/assets/images/icon-onboarding.svg);
    background-repeat: no-repeat;
}
.card-4{
    background-image: url(/easybank-landing-page-master/assets/images/icon-api.svg);
    background-repeat: no-repeat;
}

@media screen  and (max-width: 600px) {
    .cards{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .cards__descripition{
        font-size: 1.3rem;
        padding: 0 1rem;
    }

    .card{
        flex-direction: column;
        text-align: center;
    }
    .card__container{
        width: 100%;
        margin: 2rem 0;
        padding: 0;
    }

    .card__text{
        font-size: 1.3rem;
        padding: 1rem;
    }

    .card-1{
        background-position: top;
    }
    .card-2{
        background-position: top;
    }
    .card-3{
        background-position: top;
    }
    .card-4{
        background-position: top;
    }
   
}