.header{
    
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
   
}

.header img{
    width: 200px;
}

.menu__list{
    display: flex;
}
.menu__item{
    
    list-style: none;
    padding: 0 1rem;
}
.menu__link{
    color: var(--azul-acinzentado);
    text-decoration: none;
}

.btn{
    background: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    border: none;
    border-radius: 2rem;
    color: var(--branco);
    padding: 1rem 2.2rem;
}

.btn:hover{
    cursor:pointer;
}