.header{
    
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
   
}

.header img{
    width: 200px;
}

.menu__list{
    align-items: center;
    display: flex;
    
}
.menu__item{
    
    list-style: none;
    padding: 0 1rem;
}
.menu__link{
    color: var(--azul-acinzentado);
    text-decoration: none;
}

.btn{
    background: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    border: none;
    border-radius: 2rem;
    color: var(--branco);
    padding: 1rem 2.2rem;
}

.btn:hover{
    cursor:pointer;
}

#hamburguer{
    display: none;
}

.btn-mobile{
    display: none;
}

@media screen  and (max-width: 600px){
    .header{
        padding: 1.5rem ;
    }

    .header img{
        width: 150px;
    }


    .btn-mobile{
        display: block;
      width: 40px;
      height: 40px;
      background-image: url(../images/icon-hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: none;
    }

    .menu.active .btn-mobile{
        background-image: url(../images/icon-close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }

    .menu__list{
        display: none;
    }
   
    .menu.active .menu__list{
       
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0%;
        background-color: var(--azul-acinzentado-claro);
        width: 100%;
        text-align: center;
    }

    .menu__item{
        padding: .7rem 0;
        font-size: 1.4rem;
    }
    .btn{
        display: none;
    }

    
    
}

